<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="CSS/Landing.css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
    <div class="row"></div>
      <div class="row">
          <div class="col s3">
              <div class="input-field">
                  <input placeholder="Search" style="font-size:22px;" id="search" type="search" required>
                  <i class="material-icons">close</i>
                </div>
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                  </div>
          </div>
          <!--<div class="col s9">
              <div class="carousel" id="featured">
              </div>
          </div>-->
      </div>        
      <div class="row">
        <div class="col s3">
            <div class="row">
            <div class="collection" id="menu">
            </div>
            </div>
        </div>
        <div class="col s9">
            <div class="row" id="cards">
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="Scripts/Client.js"></script>
<script type="text/javascript" src="Scripts/Landing.js"></script>
</html>